{
  "semi": false,
  "singleQuote": true,
  "printWidth": 105,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cva", "cn"],
  "jsxSingleQuote": false,
  "endOfLine": "lf"
}
